.pagination {
  margin-top: 32px;
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  grid-auto-flow: column;

  @media (min-width: 740px) {
    margin-top: 64px;
  }

  &_item {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: grid;
    place-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;

    &:is(button) {
      border: solid 1px var(--blue);
      color: var(--blue-dark);
      transition: all 150ms ease-in-out;

      &:is(:hover, :focus-visible) {
        background-color: var(--blue-light);
      }

      &[disabled] {
        pointer-events: none;
        border-color: var(--blue);
        color: var(--blue);
      }

      &.active {
        background-color: var(--blue-dark);
        border-color: var(--blue-dark);
        color: var(--white);
        pointer-events: none;
      }
    }

    &.arrow {
      width: 55px;

      &::after {
        content: '';
        width: 16px;
        height: 16px;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%230252C0' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M3.33 8h9.34m0 0L8 3.33M12.67 8 8 12.67'/%3E%3C/svg%3E");
        mask-repeat: no-repeat;
        mask-size: contain;
        background-color: currentColor;
      }

      &.prev {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    &.dots {
      color: var(--gray-dark);
    }
  }
}
