.faq {
  $this: &;

  padding-block: 120px 56px;

  @media (min-width: 1200px) {
    padding-bottom: 120px;
  }

  &_list {
    margin-top: 56px;
    margin-inline: auto;
    width: min(100%, 600px);
  }
}
