.menu {
  $this: &;

  list-style: none;
  padding: 0;
  margin: 0;

  &.header {
    display: flex;
    gap: 24px;

    @media (min-width: 1200px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      row-gap: 4px;
    }

    @media (max-width: 1199.98px) {
      text-align: center;
      max-height: 100%;
      overflow-y: auto;
      font-size: 18px;
      flex-direction: column;
      padding-block: 36px;
      mask-image: linear-gradient(
        to bottom,
        transparent,
        white 36px,
        white calc(100% - 36px),
        transparent
      );

      &::-webkit-scrollbar {
        &-track {
          margin-block: 36px;
        }
      }
    }
  }

  &.footer {
    display: grid;
    row-gap: 16px;

    #{$this}_link {
      font-size: 14px;
      margin: -4px;
      opacity: 0.9;
    }
  }

  &_link {
    padding: 4px;
    font-weight: 500;
    display: inline-block;
    background: linear-gradient(currentColor, currentColor) center bottom / 0%
      1px no-repeat;
    transition: all 0.15s ease-in-out;

    @media (min-width: 1200px) {
      white-space: nowrap;
    }

    &:is(:hover, :focus-visible) {
      background-size: calc(100% - 8px) 1px;
    }
  }
}
