.form {
  display: grid;
  row-gap: 24px;

  &_fields {
    display: grid;
    row-gap: 24px;

    @media (min-width: 740px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;

      > :not(:first-child, :nth-child(2)) {
        grid-column: span 2;
      }
    }
  }

  &_btn {
    &.success {
      background-color: var(--green) !important;
    }
  }
}
