.hero {
  padding-block: 64px 48px;
  display: grid;
  row-gap: 16px;

  &_date {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    color: var(--gray-dark);
  }

  &_pic {
    margin-top: 16px;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
}
