.why {
  $this: &;

  padding-block: 120px;

  &_list {
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @media (min-width: 740px) {
      gap: 36px;
    }
  }

  &_item {
    display: grid;
    align-content: start;
    row-gap: 12px;
    padding: 24px 16px;
    border-radius: 12px;
    flex-grow: 1;

    @media (min-width: 740px) {
      padding: 48px 36px;
    }

    @media (min-width: 1200px) {
      flex-basis: calc(100% - 400px - 36px);
    }

    &:nth-child(3n + 2),
    &:nth-child(3n + 3) {
      @media (min-width: 1200px) {
        flex-basis: 400px;
      }
    }

    &:not(:has(#{$this}_link)) {
      border: solid 1px var(--light);
    }

    &:has(#{$this}_link) {
      position: relative;
      isolation: isolate;

      &::before {
        content: '';
        inset: 0;
        position: absolute;
        z-index: -1;
        border-radius: 12px;
        background: linear-gradient(rgb(white, 90%), rgb(white, 90%))
            content-box,
          linear-gradient(135deg, #ffc8e5 0%, #8ebfff 100%);
        padding: 2px;
      }
    }
  }

  &_icon {
    width: 56px;
    margin-bottom: 28px;
  }

  &_descr {
    color: var(--gray);
    max-width: 524px;
  }

  &_link {
    margin-top: 4px;
    justify-self: start;
  }
}
