.share {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  margin-top: 80px;

  &_label {
  }

  &_list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_button {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: solid 1px var(--light);

    &:is(:hover, :focus-visible) {
      background-color: var(--gray-light);
    }
  }

  &_icon {
    width: 100%;
    height: 100%;
  }
}
