.prior {
  background-color: var(--pink-lightest);
  padding-block: 120px;

  &_inner {
    display: grid;
    row-gap: 36px;

    &:not(:has(> :only-child)) {
      @media (min-width: 1200px) {
        grid-template-columns: 1fr 640px;
        align-items: start;
        column-gap: 80px;
      }
    }
  }

  &_content {
    padding: 36px 32px 116px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 12px 24px rgba(92, 0, 54, 0.04);
    display: grid;
    row-gap: 24px;
    justify-items: start;
    color: var(--gray);
    font-size: 18px;
    line-height: 1.5;
    position: relative;

    p {
      &:not(:first-child) {
        margin-top: 1lh;
      }

      &:not(:last-child) {
        margin-bottom: 1lh;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 36px;
      left: 32px;
      width: 192px;
      height: 32px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='32' fill='none'%3E%3Cpath fill='%2390e3d7' d='M0 0a32 32 0 0 1 32 32H0z'/%3E%3Cpath fill='%23cc3488' d='M64 32V0a32 32 0 0 0-32 32z'/%3E%3Crect width='32' height='32' x='64' fill='%23f7d263' rx='16'/%3E%3Cpath fill='%234352af' d='M128 0a32 32 0 0 1-32 32V0z'/%3E%3Cpath fill='%233b82f4' d='M128 32V0a32 32 0 0 1 32 32z'/%3E%3Crect width='32' height='32' x='160' fill='%23cc3488' rx='16'/%3E%3Cpath fill='%2390e3d7' d='M224 32a32 32 0 0 1-32-32h32z'/%3E%3Cpath fill='%23cc3488' d='M256 32h-32a32 32 0 0 1 32-32z'/%3E%3Cpath fill='%234352af' d='M288 0a32 32 0 0 1-32 32V0z'/%3E%3Crect width='32' height='32' x='288' fill='%23f7d263' rx='16'/%3E%3C/svg%3E")
        no-repeat left center;

      @media (min-width: 740px) {
        width: 320px;
      }
    }
  }
}
