.popup {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  padding: 16px;
  row-gap: 16px;
  box-shadow: 0 12px 24px rgba(92, 0, 54, 0.04);

  @media (min-width: 740px) {
    padding: 36px;
    row-gap: 36px;
    border-radius: 12px;
    width: min(600px, 100% - var(--container-padding) * 2);
    height: unset;
    max-height: calc(100vh - var(--container-padding) * 2);
    max-height: calc(100dvh - var(--container-padding) * 2);
  }

  &[data-state='open'] {
    animation: content-show 250ms ease-in-out;
  }

  &[data-state='closed'] {
    animation: content-hide 250ms ease-in-out;
  }

  &_title {
    display: grid;
    grid-auto-flow: column;
    column-gap: 12px;
    align-items: center;
    justify-content: space-between;
    padding-block: 16px;

    @media (min-width: 740px) {
      padding-block: unset;
    }
  }

  &_close {
    font-size: 24px;
    color: var(--gray-dark);
    transition: color 250ms ease-in-out;

    &:is(:hover, :focus-visible) {
      color: var(--black);
    }
  }

  &_form {
    overflow-y: auto;
    margin-right: -16px;
    padding-right: 16px;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    align-self: center;
  }

  &_success {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    column-gap: 12px;

    &_icon {
      display: none;

      @media (min-width: 740px) {
        display: block;
      }
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 11;
  display: grid;
  place-items: center;
  overflow-y: auto;
  background-color: var(--black-16);

  &[data-state='open'] {
    animation: overlay-show 250ms ease-in-out;
  }

  &[data-state='closed'] {
    animation: overlay-hide 250ms ease-in-out;
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes content-show {
  from {
    opacity: 0;
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes content-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.96);
  }
}
