.how {
  padding-block: 120px;

  &_list {
    margin-top: 56px;
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
  }

  &_item {
    flex: 1 0 calc((100% - 72px) / 3);
    min-width: 320px;
    display: grid;
    align-content: start;
    row-gap: 12px;
    padding: 24px 16px;
    border: solid 1px var(--light);
    border-radius: 12px;

    @media (min-width: 740px) {
      padding: 48px 36px;
    }
  }

  &_icon {
    width: 56px;
    margin-bottom: 28px;
  }

  &_descr {
    color: var(--gray);
  }

  &_info {
    $info: &;

    margin-top: 36px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    background-color: var(--gray-light);
    border: solid 1px var(--light);
    border-radius: 12px;
    padding: 16px;

    @media (min-width: 740px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 36px;
    }

    @media (min-width: 1200px) {
      padding: 48px 0;
    }

    &_content {
      display: grid;
      row-gap: 24px;
      justify-items: start;
      padding-block: 8px;

      @media (min-width: 740px) {
        padding-block: unset;
      }

      @media (min-width: 1200px) {
        padding-inline: 36px;
      }
    }

    &_descr {
      max-width: 400px;
      font-size: 18px;
      line-height: 1.5;
      color: var(--gray);
    }

    &_btn {
      margin-top: 8px;
    }

    &_pic {
      order: -1;

      @media (min-width: 740px) {
        order: unset;
        min-width: 348px;
      }

      @media (min-width: 1200px) {
        margin: 16px 64px;
      }
    }

    &_list {
      position: relative;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      border-radius: 12px;
      overflow: hidden;
      border: solid 1px var(--light);
      width: min(100%, 360px);
      order: -1;
      background-color: var(--white);

      @media (min-width: 740px) {
        order: unset;
      }

      @media (min-width: 1200px) {
        margin: 16px 64px;
      }

      &.full {
        #{$info}_item {
          &:nth-child(n + 16) {
            #{$info}_icon {
              opacity: 0.7;
              filter: blur(20px);
              scale: 0.7;
            }
          }
        }
      }
    }

    &_item {
      display: grid;
      place-content: center;
      aspect-ratio: 1;
      overflow: hidden;

      &:not(:nth-child(5n)) {
        border-right: solid 1px var(--light);
      }

      &:not(:nth-child(n + 16)) {
        border-bottom: solid 1px var(--light);
        margin-bottom: -1px;
      }
    }

    &_label {
      position: absolute;
      z-index: 2;
      bottom: calc(100% / 8);
      transform: translateY(50%);
      width: fit-content;
      max-width: calc(100% - 8px);
      margin-inline: auto;
      background-color: var(--white);
      border: solid 1px var(--light);
      border-radius: 100px;
      padding: 6px 12px;
      inset-inline: 0;
      color: var(--gray);
      font-weight: 500;
      font-size: 14px;
    }
  }
}
