.cta {
  $this: &;

  padding-block: 120px 190px;
  background-color: var(--pink-light);
  position: relative;

  @media (min-width: 1200px) {
    padding-bottom: 140px;
  }

  &.inner {
    padding-block: 64px 135px;
    margin-block: 80px;
    border-radius: 12px;
    overflow: hidden;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 71px;
    width: 100%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 994 71'%3E%3Cpath fill='%2390E3D7' d='M0 71A71 71 0 0 1 71 0v71H0Z'/%3E%3Cpath fill='%234352AF' d='M71 0a71 71 0 0 1 71 71A71 71 0 0 1 71 0Z'/%3E%3Cpath fill='%23CC3488' d='M142 71h71a71 71 0 0 0-71-71v71Z'/%3E%3Crect width='71' height='71' x='213' fill='%23F7D263' rx='35.5'/%3E%3Cpath fill='%233B82F4' d='M355 71h-71a71 71 0 0 1 71-71v71Z'/%3E%3Cpath fill='%2390E3D7' d='M426 0h-71a71 71 0 0 0 71 71V0Z'/%3E%3Cpath fill='%23F7D263' d='M426 71a71 71 0 0 1 71-71v71h-71Z'/%3E%3Cpath fill='%234352AF' d='M568 0a71 71 0 0 1-71 71V0h71Z'/%3E%3Cpath fill='%233B82F4' d='M639 0h-71a71 71 0 0 0 71 71V0Z'/%3E%3Crect width='71' height='71' x='639' fill='%23CC3488' rx='35.5'/%3E%3Cpath fill='%23F7D263' d='M781 71h-71a71 71 0 0 1 71-71v71Z'/%3E%3Cpath fill='%233B82F4' d='M852 0h-71a71 71 0 0 0 71 71V0Z'/%3E%3Cpath fill='%2390E3D7' d='M852 71a71 71 0 0 1 71-71v71h-71Z'/%3E%3Cpath fill='%23F7D263' d='M923 0a71 71 0 0 1 71 71 71 71 0 0 1-71-71Z'/%3E%3C/svg%3E")
      no-repeat center / 994px 71px;
  }

  &_inner {
    text-align: center;
    display: grid;
    justify-items: center;
    row-gap: 24px;
  }

  &_descr {
    max-width: 524px;
    color: var(--gray);
  }

  &_bottom {
    margin-top: 8px;
    display: grid;
    justify-items: center;
    row-gap: 12px;
  }

  &_label {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray);
  }
}
