.preview {
  border: solid 1px var(--light);
  border-radius: 12px;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  align-content: start;

  &:is(:hover, :focus-visible) {
    background-color: var(--gray-lightest);
  }

  &.main {
    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
    }
  }

  &_pic {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;

    &.main {
      @media (min-width: 1024px) {
        width: 50%;
      }
    }
  }

  &_content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    @media (min-width: 1200px) {
      padding: 24px 32px;
    }

    &.main {
      @media (min-width: 740px) {
        padding-block: 24px;
        row-gap: 16px;
      }

      @media (min-width: 1024px) {
        padding: 48px;
      }
    }
  }

  &_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;

    &.main {
      @media (min-width: 740px) {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 600;
      }
    }
  }

  &_excerpt {
    color: var(--gray);
    font-size: 16px;
    line-height: 1.3;

    &:not(.main) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &_date {
    margin-top: auto;
    padding-top: 8px;
    font-size: 14px;
    color: var(--gray-dark);
    font-weight: 500;
    line-height: 1.3;
  }
}
