.hero {
  overflow: hidden;
  position: relative;

  @media (min-width: 1200px) {
    padding-top: unset;
    display: grid;
    column-gap: 32px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  &_ill {
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  &_container {
    text-align: center;
    display: grid;
    align-content: center;
    row-gap: 24px;
    padding-block: 64px;

    @media (min-width: 740px) {
      padding-block: 64px;
      min-height: 280px;
    }
  }

  &_title {
    font-size: 40px;

    @media (min-width: 740px) {
      font-size: 64px;
    }
  }

  &_descr {
    font-size: 18px;
    line-height: 1.5;
    color: var(--gray);
  }
}
