.result {
  padding-block: 120px;
  display: grid;
  align-items: center;
  background-color: #33001b;

  @media (min-width: 1200px) {
    min-height: 600px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' height='600' fill='none'%3E%3Cpath fill='%23f7d263' d='M.01 0H240c0 66.27-53.73 120-120 120S.01 66.27.01 0'/%3E%3Cpath fill='%23cc3488' d='M120 180a60 60 0 0 1 60-60h60v60a60 60 0 1 1-120 0'/%3E%3Cpath fill='%23f7d263' d='M60 360a60 60 0 0 1 60 60v60H60a60 60 0 0 1 0-120'/%3E%3Cpath fill='%233b82f4' d='M.01 240c0-66.27 53.72-120 120-120v120z'/%3E%3Cpath fill='%234352af' d='M.01 240c0 66.27 53.72 120 120 120V240zm120.01 240c-66.27 0-120 53.73-120 120h120z'/%3E%3Cpath fill='%2390e3d7' d='M240 360c0-66.27-53.72-120-120-120v120z'/%3E%3Cpath fill='%233b82f4' d='M120 480c66.28 0 120-53.73 120-120H120z'/%3E%3Cpath fill='%23cc3488' d='M240 600c0-66.27-53.72-120-120-120v120z'/%3E%3C/svg%3E");
    background-repeat: repeat-y;
    background-position: center right;
  }

  &_inner {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: calc(100% - 240px);
    }
  }

  &_title {
    color: var(--white);
  }

  &_descr {
    max-width: 640px;
    font-size: 18px;
    line-height: 1.5;
    color: var(--white-80);
    margin-top: 24px;
  }

  &_stats {
    margin-top: 36px;
  }
}
