.features {
  padding-block: 120px;
  background-color: var(--blue-light);

  &_list {
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @media (min-width: 740px) {
      gap: 36px;
    }
  }

  &_item {
    background-color: var(--blue-20);
    border: solid 1px var(--black-4);
    padding: 24px 16px;
    border-radius: 12px;
    flex: 1 0 320px;

    @media (min-width: 740px) {
      padding: 48px 36px;
    }
  }

  &_icon {
    width: 56px;
    margin-bottom: 48px;
  }

  &_descr {
    margin-top: 12px;
    color: var(--gray);
  }
}
