.testimonials {
  background-color: var(--blue-light);
  padding-block: 120px;
  overflow: hidden;

  &_list {
    margin-top: 56px;
    overflow: visible !important;
  }

  &_item {
    padding: 16px;
    border-radius: 12px;
    display: grid;
    row-gap: 32px;
    align-content: space-between;
    box-shadow: inset 0 0 0 1px var(--black-4);
    background-color: var(--blue-30);
    height: auto;
    width: calc(100% - 48px);
    user-select: none;

    @media (min-width: 740px) {
      padding: 24px;
      width: 376px;
    }
  }

  &_text {
    display: grid;
    row-gap: 12px;
    justify-items: start;
    font-size: 18px;
    line-height: 1.5;

    &::before {
      content: '';
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 28'%3E%3Cpath fill='%230252C0' d='M20.75 11.72c.42-2.3 1.59-4.49 3.45-6.15-5.27.79-9.2 5.28-9.27 10.62v.73a5.23 5.23 0 1 0 5.82-5.2ZM7.56 22.14a5.23 5.23 0 0 0 .6-10.42c.42-2.3 1.59-4.49 3.45-6.15-5.28.78-9.2 5.28-9.27 10.62v.73a5.23 5.23 0 0 0 5.22 5.22Z'/%3E%3C/svg%3E")
        center / contain no-repeat;
      width: 28px;
      height: 28px;
    }
  }

  &_bottom {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    column-gap: 12px;
    color: var(--gray);
  }

  &_pic {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
    box-shadow: inset 0 0 0 1px var(--black-16);

    &.empty {
      box-shadow: inset 0 0 0 1px var(--blue);
      background-color: var(--blue-light);
      display: grid;
      place-content: center;
      font-size: 16px;
    }
  }

  &_nav {
    margin-top: 56px;
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    column-gap: 8px;

    &:has(:global(.swiper-button-lock)) {
      display: none;
    }
  }

  &_btn {
    width: 55px;
    height: 40px;
    display: grid;
    place-content: center;
    box-shadow: inset 0 0 0 1px var(--blue);
    border-radius: 100px;
    background-color: var(--white);
    transition: box-shadow 0.25s ease-in-out;

    &:is(:hover, :focus-visible) {
      box-shadow: none;
    }

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath stroke='%230252C0' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M3.33 8h9.34m0 0L8 3.33M12.67 8 8 12.67'/%3E%3C/svg%3E")
        no-repeat center / contain;
    }

    &.prev {
      transform: scaleX(-1);
    }
  }
}
