.field {
  $this: &;

  display: grid;
  row-gap: 8px;
  position: relative;

  &_input {
    width: 100%;
    border-radius: 12px;
    border: 1px solid var(--light);
    background: var(--white);
    padding: 16px;
    transition: border-color 250ms ease-in-out;
    min-height: 56px;
    display: grid;
    align-items: center;

    &::placeholder {
      color: var(--gray-dark);
    }

    &:is(:hover, :focus-visible) {
      border-color: var(--gray);
    }

    &[aria-invalid='true'],
    &.invalid {
      border-color: red;

      ~ #{$this}_error {
        opacity: 1;
        visibility: visible;
      }
    }

    &:is(textarea) {
      height: 95px;
      resize: none;

      &::-webkit-scrollbar {
        &-track {
          margin-block: 8px;
        }
      }
    }
  }

  &_hint {
    font-size: 14px;
    color: var(--gray-dark);
  }

  &_error {
    color: red;
    font-size: 13px;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
  }
}
