.hero {
  $this: &;
  padding-top: 64px;
  display: grid;
  row-gap: 48px;

  @media (min-width: 1200px) {
    row-gap: 36px;
  }

  &_top {
    display: grid;
    gap: 40px 80px;

    &:has(#{$this}_pic) {
      @media (min-width: 1200px) {
        grid-template-columns: 1fr 400px;
        align-content: start;
      }
    }

    &:last-child {
      margin-bottom: 64px;
    }
  }

  &_heading {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &_date {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    color: var(--gray-dark);
  }

  &_title {
    margin-bottom: auto;
  }

  &_stats {
    margin-top: 40px;
  }

  &_pic {
    border-radius: 12px;

    @media (min-width: 1200px) {
      width: 400px;
      aspect-ratio: 4/3;
      object-fit: cover;
      align-self: end;
    }
  }

  &_bottom {
    border: solid 1px var(--light);
    border-radius: 12px;
    overflow: hidden;

    &:has(#{$this}_quote) {
      @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: 394px 1fr;
      }

      #{$this}_info {
        @media (min-width: 1200px) {
          border-right: solid 1px var(--light);
        }

        @media (max-width: 1199.98px) {
          border-bottom: solid 1px var(--light);
        }
      }
    }
  }

  &_logo {
    height: 32px;
    width: auto;
    object-fit: contain;
  }

  &_info {
    display: grid;
    align-content: start;
    row-gap: 24px;
    padding: 24px 16px;

    @media (min-width: 740px) {
      padding: 40px 36px;
    }

    &_item {
      display: grid;
      row-gap: 4px;
    }

    &_label {
      font-weight: 500;
      font-size: 14px;
      color: var(--gray-dark);
    }
  }

  &_quote {
    padding: 24px 16px;
    background-color: var(--gray-lightest);
    display: grid;
    align-content: start;
    row-gap: 24px;

    @media (min-width: 740px) {
      padding: 40px 36px;
    }

    &_text {
      padding-top: 52px;
      position: relative;
      font-size: 20px;
      line-height: 1.4;
      font-weight: 500;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'%3E%3Cpath fill='%230252C0' d='M20.75 11.72c.42-2.3 1.59-4.49 3.45-6.15-5.27.79-9.2 5.28-9.27 10.62v.73a5.23 5.23 0 1 0 5.82-5.2ZM7.56 22.14a5.23 5.23 0 0 0 .6-10.42c.42-2.3 1.59-4.49 3.45-6.15-5.28.78-9.2 5.28-9.27 10.62l-.01.73a5.23 5.23 0 0 0 5.23 5.22Z'/%3E%3C/svg%3E")
          no-repeat center / contain;
      }
    }

    &_author {
      display: grid;
      grid-auto-flow: column;
      column-gap: 12px;
      align-items: center;
      justify-content: start;
    }

    &_media {
      border-radius: 50%;
      width: 48px;
      height: 48px;
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: solid 1px var(--black-16);
        pointer-events: none;
      }
    }

    &_photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_heading {
      display: grid;
      row-gap: 4px;
      align-content: center;
    }

    &_label {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
      color: #6d6d7d;
    }
  }
}
