.math {
  padding-top: 120px;

  &_drivers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 56px;
    gap: 16px;

    @media (min-width: 740px) {
      gap: 36px;
    }
  }

  &_driver {
    $this: &;
    flex: 1 0 calc((100% - 72px) / 3);
    min-width: 300px;
    border: 1px solid var(--light);
    padding: 36px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-content: flex-start;

    &_title {
      margin-top: 32px;
      white-space: pre-line;

      &:first-child {
        margin-top: 0;
      }
    }

    &_theMath {
      color: var(--gray);
      margin-top: 10px;
      padding-bottom: 24px;
    }

    &_proofPoint {
      margin-top: auto;
      padding-top: 24px;
      border-top: 1px solid var(--light);
      font-weight: 500;

      @media (min-width: 1050px) {
        min-height: 87px;
      }

      @media (max-width: 1023.98px) {
        letter-spacing: -0.01em;
      }
    }

    &:first-of-type {
      #{$this}_proofPoint {
        border-top-color: var(--blue);
      }
    }

    &:nth-of-type(2) {
      #{$this}_proofPoint {
        border-top-color: var(--pink-stroke-50);
      }
    }

    &:nth-of-type(3) {
      #{$this}_proofPoint {
        border-top-color: var(--green-stroke);
      }
    }
  }
}
