.list {
  padding-block: 40px 80px;
  display: grid;
  gap: 36px;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &_item {
    border: solid 1px var(--light);
    padding: 24px 16px;
    border-radius: 12px;
    display: grid;
    align-content: start;
    row-gap: 12px;

    @media (min-width: 740px) {
      padding: 48px 36px;
    }
  }

  &_icon {
    width: 56px;
    margin-bottom: 28px;
  }

  &_descr {
    color: var(--gray);
  }
}
